.container-fluid {
  text-align: initial;
  align-items: center;
  font-family: 'Bitter', serif;
}

header {
  height: 10vh;
  background-color: #ffc107;
  padding-top: 5px;
}

.no-gutters {
  padding-right: 0;
  padding-left: 0;
}

/* Estilos de Tipografías*/
h1 {
  font-size: 50px;
}

h4, .card-body, .list {
  font-family: 'Open Sans';
  font-weight: bold;
}

/* Estilos de la barra lateral*/
aside {
  height: 90vh;
  background-color: #fafafa;
  text-align: center;
}

#logo {
  height: 10vh;
  margin: 0 auto;
  padding-bottom: 30px;
}

img {
  height: 70px;
  text-align: center;
}

#round {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #ced4da;
}

#info {
  margin: 10px 0px 20px 0px;
}

.bar{
  text-align: center;
  background-color:#ff2323 ;
}

button {
  width: 100%;
  font-weight: bold;
}

button:focus {
  background-color: #ff0093;
}

<<<<<<< HEAD
#titleRightSide{
  padding: 1em;
  background-color: #c4c4c4;
  color: black;
  width: 70%;
  display: inline-block;
  margin-left: 25%;
=======
/* Estilos de la sección principal */
.main {
  height: 90vh;
  text-align: center;
}

/* Información General del Cohort*/

.infoBox, .totalBox {
  margin-top: 2%;
  border: 1px solid #ced4da;
  text-align: center;
  padding: 2%;
}

.totalBox {
  margin-left: 2%;
  background-color:  #56f89a;
}

.infoBox, .info {
  margin-right: 5%;
}

/* Información de Alumnas */

.generalInfo, .studentsProfile {
  margin-top: 2%;
  padding: 0% 5%;
}

.studentInfo {
  margin-top: 2%;
  
}

.info {
  margin-left: 5%;
  border: 1px solid #ced4da;
  height: 40vh;
  padding-top: 1%;
  text-align: initial;
>>>>>>> upstream/master
}