.container-fluid {
  padding: 0;
  text-align: initial;
  align-items: center;
  font-family: 'Bitter', serif;
}

header {
  height: 10vh;
  background-color: #ffc107;
  padding-top: 5px;
}

#expandMenu {
  display: none;
}

.no-gutters {
  padding-right: 0;
  padding-left: 0;
}

/* Estilos de Tipografías*/

h1 {
  font-size: 50px;
}

h4,
.card-body,
.list {
  font-family: 'Open Sans';
  font-weight: bold;
}

/* Estilos de la barra lateral*/

#sidebar {
  height: 100vh;
  background-color: #fafafa;
  text-align: center;
  display: inline-block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

#logo {
  height: 10vh;
  margin: 0 auto;
  padding-bottom: 30px;
}

img {
  height: 70px;
  text-align: center;
}

#round {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #ced4da;
}

#info {
  margin: 10px 0px 20px 0px;
}

.bar {
  text-align: center;
  background-color: #fafafa;
}

button {
  width: 100%;
  font-weight: bold;
}

/* Estilos de la sección principal */

.main {
  float: right;
  text-align: center;
}

/* Información General del Cohort*/

.infoBox,
.totalBox {
  margin-top: 2%;
  border: 1px solid #ced4da;
  text-align: center;
  padding: 2%;
}

.totalBox {
  margin-left: 2%;
  background-color: #56f89a;
}

.infoBox,
.info {
  margin-right: 5%;
}

/* Barra de progreso */

.progressBar {
  margin: 3% 3.5% 0% 3.5%;
}

/* Información de Alumnas */

.generalInfo,
.studentsProfile {
  margin-top: 8%;
  padding: 0% 5%;
}

.studentList {
  margin: 0% 3.5% 0% 3.5%;
}

table {
  border: 1px solid #ced4da;
}

tbody {
  text-align: initial;
}

/* Media queries */

@media (min-width: 425px) and (max-width: 768px) {
  [class*='col-'] {
    width: 100%;
    text-align: center;
  }
  #logo,
  #sidebar {
    display: none;
  }
  #expandMenu {
    display: inline;
  }
}