.container-fluid {
  text-align: initial;
  align-items: center;
}

#top {
  height: 40px;
  background-color: #ffc107;
  align-items: center;
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

/* Estilos de Tipografías*/
h1 {
  font-size: 50px;
}

h1, h2, button {
  font-family: 'Bitter', serif;
}

h4, .nav-link {
  font-family: 'Open Sans';
}

/* Estilos de la barra lateral*/
aside {
  height: 20vh;
  background-color: #fafafa;
  text-align: center;
}

#logo {
  margin: 0 auto;
  padding-bottom: 30px;
}

img {
  width: 100%;
}

#round {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #c4c4c4;
}

#info {
  margin: 10px 0px 20px 0px;
}

button {
  width: 100%;
}

button:focus {
  background-color: #ff0093;
}

.nav-link:focus {
  background-color: #56f89a;
}

.barra-izq{
  text-align: center;
  background-color:#c4c4c4 ;
  width: 30%;
  height: 60%;
}
